<div class="wrapper_content about_wrapper">

    <div class="row wrapper_global">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about_wrapper-text">

            <h1>Hello there,</h1>
            <h1>Nice to</h1>
            <h1>meet you.</h1>

            <article>

                My name is Alexander Chacón. I am a UI/UX Designer, 3D enthusiastic and some times Front End Developer from Bogotá, Colombia.
    
    
                In my 10 years of experience as a digital creative I have worked in several creative departments for advertising agencies in Colombia, Argentina and Ukraine such as Astound Commerce, Leo Burnett Colombia, Sancho BBDO, tendencieros BS AS, Alpha 245. Some accounts with which I have worked: Onu Colombia, Accessorise UK, Booho Mena, Sketchers Mexico, Pernod Ricard, movistar, Nokia Global, Jeep, Nivea, Ecopetrol, HP, Kellogs among others. 
    
    
                Capable of leading User Interface teams, Great attention to detail, and fluid in the latest visual development techniques.
    
    
                Passionate about work, I prefer whiskey over a beer. Coffee only in the morning. Curious, online dreamer, thinker and doer.
    
            </article>

        </div>

    </div>

</div>

