<div class="wrapper_content about_wrapper g_bg">

    <div class="mega_menu-close underline_s"><span>close</span></div>

    <div class="row middle-xs wrapper_global">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <h1>Hello there,</h1>
            <h1>Nice to</h1>
            <h1>meet you.</h1>

            <article>

                <p>My name is Alexander Chacón. I am a UI/UX Designer, 3D enthusiastic and some times Front End Developer from Bogotá, Colombia.</p>
                <p>In my 10 years of experience as a digital creative I have worked in several creative departments for advertising agencies in Colombia, Argentina and Ukraine such as Astound Commerce, Leo Burnett Colombia, Sancho BBDO, tendencieros BS AS, Alpha 245. Some accounts with which I have worked: Onu Colombia, Accessorise UK, Booho Mena, Sketchers Mexico, Pernod Ricard, movistar, Nokia Global, Jeep, Nivea, Ecopetrol, HP, Kellogs among others. </p>
                <p>Capable of leading User Interface teams, Great attention to detail, and fluid in the latest visual development techniques.</p>
                <p>Passionate about work, I prefer whiskey over a beer. Coffee only in the morning. Curious, online dreamer, thinker and doer.</p>

            </article>

            <div class="footer_social">

                <div class="row end-xs wrapper_global">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="https://www.behance.net/alexanderchacon" target="_blank"><span class="icon-behance icon_footer-social"></span></a>
                        <span class="footer_social-plus">+</span> 
                        <a href="https://dribbble.com/alexanderchacon" target="_blank"><span class="icon-dribbble icon_footer-social"></span></a>
                        <span class="footer_social-plus">+</span>
                        <a href="https://co.linkedin.com/in/alexandercha" target="_blank"><span class="icon-linkedin2 icon_footer-social"></span></a>
                        <span class="footer_social-plus">+</span>
                        <a class="underline_s" href="mailto:alexanderchacon@outlook.com" target="_blank">alexanderchacon@outlook.com</a>
                    </div>
                </div>
        
            </div>

        </div>

    </div>

</div>

