<header>

    <div class="logo">

        <a href="{{ site.url }}">
            <div class="wrapper">
                <span>2021</span>
                <span>Portfolio</span>
            </div>
        </a>

    </div>

    <div class="ic_menu">
        <div></div>
        <div></div>
        <div></div>
    </div>

</header>

<div class="mega_menu"> 

    <div class="mega_menu-close underline_s">close</div>

    <div class="mega_menu-links">
            <div class="row middle-xs wrapper_global">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="about underline_b">About Me.</h4>
                    <h4 class="work underline_b">My Work.</h4>
                </div>
            </div>
    </div>

    <div class="footer_social">

        <div class="row end-xs wrapper_global">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="https://www.behance.net/alexanderchacon" target="_blank"><span class="icon-behance icon_footer-social"></span></a>
                <span class="footer_social-plus">+</span> 
                <a href="https://dribbble.com/alexanderchacon" target="_blank"><span class="icon-dribbble icon_footer-social"></span></a>
                <span class="footer_social-plus">+</span>
                <a href="https://co.linkedin.com/in/alexandercha" target="_blank"><span class="icon-linkedin2 icon_footer-social"></span></a>
                <span class="footer_social-plus">+</span>
                <a class="underline_s" href="mailto:alexanderchacon@outlook.com" target="_blank">alexanderchacon@outlook.com</a>
            </div>
        </div>

    </div>

</div>