@import "comps/fonts.scss";
@import "comps/var.scss";

@import "comps/header.scss";

html {
    font-family: $tobias_l;
    color: $c_amber;
    font-size: 14px;
    background: $c_gray;
}

a {
    color: $c_amber;
    text-decoration: none;
}