@import "comps/var.scss";
@import "comps/fonts.scss";
@import "comps/links.scss";


@import "comps/header.scss";

html {
    font-family: $tobias_l;
    color: $c_amber;
    font-size: 14px;
    background: $c_gray;
    letter-spacing: 7px;
}

.wrapper_global {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
}