@import "comps/var.scss";
@import "comps/fonts.scss";
@import "comps/links.scss";


@import "comps/header.scss";

html {
    font-family: $tobias_l;
    color: $c_amber;
    font-size: 14px;
    background: $c_gray;
    letter-spacing: 7px;
}

html, .mega_menu {
    background: url("../img/bg.jpg") top left repeat $c_gray;
}

.wrapper_global {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
}