@font-face {
    font-family: 'tobias_l';
    src: url('../fonts/tobias-light.eot');
    src: url('../fonts/tobias-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tobias-light.woff2') format('woff2'),
        url('../fonts/tobias-light.woff') format('woff'),
        url('../fonts/tobias-light.ttf') format('truetype'),
        url('../fonts/tobias-light.svg#tobias-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tobias_l-i';
    src: url('../fonts/tobias-lightitalic.eot');
    src: url('../fonts/tobias-lightitalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tobias-lightitalic.woff2') format('woff2'),
        url('../fonts/tobias-lightitalic.woff') format('woff'),
        url('../fonts/tobias-lightitalic.ttf') format('truetype'),
        url('../fonts/tobias-lightitalic.svg#tobias-lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tobias_r';
    src: url('../fonts/tobias-regular.eot');
    src: url('../fonts/tobias-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tobias-regular.woff2') format('woff2'),
        url('../fonts/tobias-regular.woff') format('woff'),
        url('../fonts/tobias-regular.ttf') format('truetype'),
        url('../fonts/tobias-regular.svg#tobias-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tobias_r-i';
    src: url('../fonts/tobias-regularitalic.eot');
    src: url('../fonts/tobias-regularitalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tobias-regularitalic.woff2') format('woff2'),
        url('../fonts/tobias-regularitalic.woff') format('woff'),
        url('../fonts/tobias-regularitalic.ttf') format('truetype'),
        url('../fonts/tobias-regularitalic.svg#tobias-regularitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tobias_sb';
    src: url('../fonts/tobias-semibold.eot');
    src: url('../fonts/tobias-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tobias-semibold.woff2') format('woff2'),
        url('../fonts/tobias-semibold.woff') format('woff'),
        url('../fonts/tobias-semibold.ttf') format('truetype'),
        url('../fonts/tobias-semibold.svg#tobias-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tobias_sb-i';
    src: url('../fonts/tobias-semibolditalic.eot');
    src: url('../fonts/tobias-semibolditalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tobias-semibolditalic.woff2') format('woff2'),
        url('../fonts/tobias-semibolditalic.woff') format('woff'),
        url('../fonts/tobias-semibolditalic.ttf') format('truetype'),
        url('../fonts/tobias-semibolditalic.svg#tobias-semibolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tobias_b';
    src: url('../fonts/tobias-bold.eot');
    src: url('../fonts/tobias-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tobias-bold.woff2') format('woff2'),
        url('../fonts/tobias-bold.woff') format('woff'),
        url('../fonts/tobias-bold.ttf') format('truetype'),
        url('../fonts/tobias-bold.svg#tobias-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tobias_b-i';
    src: url('../fonts/tobias-bolditalic.eot');
    src: url('../fonts/tobias-bolditalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tobias-bolditalic.woff2') format('woff2'),
        url('../fonts/tobias-bolditalic.woff') format('woff'),
        url('../fonts/tobias-bolditalic.ttf') format('truetype'),
        url('../fonts/tobias-bolditalic.svg#tobias-bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?e6xe03');
    src:  url('../fonts/icomoon.eot?e6xe03#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?e6xe03') format('truetype'),
      url('../fonts/icomoon.woff?e6xe03') format('woff'),
      url('../fonts/icomoon.svg?e6xe03#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-dribbble:before {
    content: "\eaa7";
  }
  .icon-behance:before {
    content: "\eaa8";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  

h1, h2, h3, h4, h5, h6 {
    margin: 15px 0;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: $font_size-h1;
}

h2 {
    font-size: $font_size-h2;
    font-family: $tobias_sb;
}

h3 {
    font-size: $font_size-h3;
    font-family: $tobias_sb;
}

h4 {
    font-size: $font_size-h4;
    font-family: $tobias_r-i;
    letter-spacing: 7px;
}

h5 {
    font-size: $font_size-h5;
}

h6 {
    font-size: $font_size-h6;
}

