a, .underline_b, .underline_s, .ic_menu, .scroll_text span {
    cursor: $cursor;
}

a {
    color: $c_amber;
    text-decoration: none;
    margin: 0;
    padding:0;
    letter-spacing: 2px;
    font-family: $tobias_l-i;
    position: relative;
    font-size: 12px;
}

.underline_b, .underline_s {
    
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        background: $c_amber;
        transition: bottom 0.3s;
    }
}

.underline_b {

    position: relative;
    display: table;

    &:before {
        height: 2px;
        bottom: -6px;
    }

    &:hover:before {
        bottom: 24px;
    }

}

.underline_s {

    &:before {
        height: 1px;
        bottom: -4px;
    }

    &:hover:before {
        bottom: 7px;
    }

}