.mega_menu {

    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $c_gray;
    top: -100%;

    &-links {
        height: 100%;
        position: relative;
    }

    &-close {
        position: absolute;
        right: 0;
        margin: 30px 30px 0 0 ;
        letter-spacing: 2px;
        font-family: $tobias_r-i;
        z-index: 9999;
    }

    .row {
        height: 100%;
    }

    h3 {

        &:first-child {
            margin-bottom: 75px;
        }

    }

}

.footer_social {

    a {

        .icon_footer-social {
            font-size: 20px;
        }
    }

    &-plus {
        margin: 0 25px;
        letter-spacing: 0;
    }

    .icon-dribbble:hover, .icon-behance:hover, .icon-linkedin2:hover {
        color: $c_amber-d;
    }

    .icon-dribbble:before {
        content: "\eaa7";
        font-size: 17px;
    }

    .icon-behance:before {
        content: "\eaa8";
    }

    .icon-linkedin2:before {
        content: "\eaca";
    }

    .row {
        position: relative;
        padding: 35px 0;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            top: 0;
            background: $c_amber;
        }

    }

}