/*** CURSOR ***/
$cursor: url('../img/cursor.png'), url("../img/cursor.cur"), auto!important;

/*** COLORS ***/
$c_amber: #F1E5D4;
$c_amber-d: #cabca7;
$c_gray: #2C2C2C;

/*** FONTS ***/
$tobias_alternatives: "Times New Roman", "Georgia";

$tobias_l: "tobias_l", $tobias_alternatives;
$tobias_l-i: "tobias_l-i", $tobias_alternatives;
$tobias_r: "tobias_r", $tobias_alternatives;
$tobias_r-i: "tobias_r-i", $tobias_alternatives;
$tobias_sb: "tobias_sb", $tobias_alternatives;
$tobias_sb-i: "tobias_sb-i", $tobias_alternatives;
$tobias_b: "tobias_b", $tobias_alternatives;
$tobias_b-i: "tobias_b-i", $tobias_alternatives;

$font_size-h1: 110px;
$font_size-h2: 100px;
$font_size-h3: 60px;
$font_size-h4: 45px;
$font_size-h5: 30px;
$font_size-h6: 22px;

/*** OPACITY ***/

$t_global: 0.8s ease; 