.wrapper_content-work {

    .row {
        height: 100%;
        position: relative;
    }

    .wrapper_content-work-img {

        height: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

        #wrapper_work-img {
            position: absolute;
            width: calc(100% /* + 200px */);
            height: 100%;
            z-index: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: 0.5s;
            opacity: 0;
            left: -100px;
        }

        .wrapper_content-text {

            z-index: 1111;

            h5 {
                margin-bottom: 35px;
            }
    
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
        
                li {
                    
                    margin-bottom: 32px;

                    .work_link {
                        opacity: 1;
                        transition: 0.1s;
                    }

                    .work_link-change:before {
                        content: "";
                        background: #2C2C2C;
                    }
    
                    &:last-child {
                        margin-bottom: 0;
                    }
        
                }
    
            }

        }

    }

}