{% include header_data.html %}
{% include header.html %}

<div class="wrapper_content wrapper_content-welcome">

    <div class="row middle-xs wrapper_global">

        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 wrapper_content-welcome-text">

            <h2>Hello</h2>
            <h3>And</h3>
            <h2>Welcome</h2>

            <div class="text_lets"><span>Let’s Do Some</span> <span>Noise</span></div>

            <div class="links_inside">
                <div class="about_me underline_s">About Me.</div>
                <div class="work_me underline_s">Work.</div>
            </div>

        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 wrapper_content-welcome-image end-xs">

            <div class="wrapper_img-welcome"><img src="assets/img/boat.png" alt="Welcome" id="img_welcome" /></div>

            <div class="copy_image">
                <span>Digital</span>
                <span>+</span>
                <span>Designer</span>
            </div>

        </div>

    </div>

    <div class="scroll_text"><span>Scroll to discover</span></div>

</div>

<div class="wrapper_content wrapper_content-work">

    <div class="row middle-xs wrapper_global">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="wrapper_content-work-img">

                <h5>My Work.</h5>

                <ul>
                    {% for post in site.posts reversed %}
                    <li><a href="{{ post.url }}" class="underline_s">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>

            </div>



        </div>

    </div>

</div>
    
{% include footer_data.html %}