{% include header_data.html %}
{% include header.html %}

<div class="wrapper_content wrapper_content-welcome">

    <div class="row middle-xs wrapper_global">

        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 wrapper_content-welcome-text">

            <h2>Hello</h2>
            <h3>And</h3>
            <h2>Welcome</h2>

            <div class="text_lets"><span>Let’s Do Some</span> <span>Noise</span></div>

            <div class="links_inside">
                <a href="about" class="underline_s">About Me.</a>
                <a href="work" class="underline_s">Work.</a>
            </div>

        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 wrapper_content-welcome-image end-xs">

            <img src="assets/img/boat.png" alt="Welcome" />
            <div class="copy_image">
                <span>Digital</span>
                <span>+</span>
                <span>Designer</span>
            </div>

        </div>

    </div>

    <div class="scroll_text"><span>Scroll to discover</span></div>

</div>
    
{% include footer_data.html %}